server {
    listen {{ ansible_default_ipv4['address'] }}:9090 ssl;
    ssl_certificate prometheus_cert.crt;
    ssl_certificate_key prometheus_cert.key;
    large_client_header_buffers 8 64k;
    location / {
        auth_basic "Authorization Required";
        auth_basic_user_file /etc/nginx/prometheus_htpasswd;
        proxy_pass http://localhost:9090/;
    }
}

server {
    listen {{ ansible_default_ipv4['address'] }}:9093 ssl;
    ssl_certificate prometheus_cert.crt;
    ssl_certificate_key prometheus_cert.key;
    large_client_header_buffers 8 64k;
    location / {
        auth_basic "Authorization Required";
        auth_basic_user_file /etc/nginx/prometheus_htpasswd;
        proxy_pass http://localhost:9093/;
    }
}
